body[theme="light"] {
  --color-fore: rgb(10, 10, 11);
  --color-fore-0: rgb(10, 10, 11);
  --color-fore-1: rgb(20, 20, 22);
  --color-fore-2: rgb(34, 34, 36);
  --color-fore-3: rgb(45, 45, 48);

  --color-back: rgb(254, 254, 254);
  --color-back-0: rgb(254, 254, 254);
  --color-back-1: rgb(247, 247, 247);
  --color-back-2: rgb(240, 240, 240);
  --color-back-3: rgb(230, 230, 230);
  --color-back-hover: rgb(248, 249, 251);
  --color-back-active: rgb(243, 244, 248);

  --color-accent: rgb(240, 90, 21);
  --color-accent-hover: rgb(255, 140, 50);
  --color-accent-active: rgb(235, 82, 16);

  --color-gray: rgb(170, 171, 173);
  --color-gray-hover: rgb(179, 180, 183);
  --color-gray-active: rgb(167, 168, 171);
}
